
@{
    ViewBag.Title = "SearchCompanyForUser";
    Layout = "~/Views/Shared/LayoutForUser.cshtml";
}
@section cssInsert{
    <link href="~/Assets/Client/Css/User/SearchCompanyForUser.css" rel="stylesheet" />
}

<div class="page-wrapper">
    <div class="subheader">


        <div class="page-title">
            <h1>Nhà tuyển dụng hàng đầu</h1>
            <p>Hãy tỏa sáng tài năng của bạn tại những doanh nghiệp hàng đầu</p>
        </div>

    </div>
    <div class="career-breadcrumb">
        <div>
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <i class="fas fa-angle-right"></i>
                    <span style="padding-left: 15px;">Companies</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="career-main-content">
        <div class="career-main-section">
            <div class="page-container">
                <div class="row">
                    <div class="sub-header-form">
                        <form>
                            <input type="text" list="selectedEnterprise" name="enterprise" class="jobBrowser" style="height: 3em;"
                                   placeholder="EnterpriseName" />
                        </form>
                        <form>
                            <input type="text" list="selectedCareer" name="careerBrowser" id="careerBrowser" class="jobBrowser" style="height: 3em;"
                                   placeholder="All career">
                            <datalist id="selectedCareer">
                                @foreach(var item in ViewBag.ListJobMain)
                                {
                                <option value="@item.JobName" data-id="@item.JobID" />
                                }
                            </datalist>
                        </form>
                        <form>
                            <input type="text" list="selectedState" name="areaBrowser" id="areaState" class="jobBrowser" style="height: 3em;"
                                   placeholder="All state">
                            <datalist id="selectedState">
                                @foreach(var item in ViewBag.ListArea)
                                {
                                <option value="@item.NameArea" data-id="@item.AreaId" />
                                }
                            </datalist>
                        </form>
                        <button style="margin-left: 25px;" id="findIcon">
                            <i class="fa fa-search"></i><span style="display: none;">Tim kiem</span>
                        </button>
                    </div>
                    <aside class="job-left-menu">
                        <div class="career-typo-wrap">
                            <form class="career-search-filter">
                                <div class="career-filter-responsive-wrap">
                                    <div class="career-search-filter-wrap career-search-filter-toggle">
                                        <h2 class="colClick">
                                            <span>Quy mô</span>
                                            <i class="fa fa-angle-down" style="float: right;"></i>
                                        </h2>
                                        <form style="font-size: 1.2em; margin-left: 0.3em;">
                                            @foreach (var item in ViewBag.ListEnterpriseSize)
                                            {
                                            <input type="radio" name="selectSize" value="@item.SizeID" style="margin-right: 10px;" /> @item.AmountSize<br />
                                            }

                                        </form>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </aside>
                    <div class="job-right-menu">
                        <div class="career-typo-wrap">
                            <div class="filterable" style="float:right;" id="clearAll">Clear All</div><br>
                            <div class="filterable">Hien thi ... ket qua</div>
                            <div class="career-employer-list">
                                <ul class="row">
                                    <li class="employer">
                                        <div class="box-star">
                                            <i class="fas fa-heart star " style="cursor: pointer;"></i>
                                        </div>
                                        <div class="career-table-row">
                                            <a href="" class="career-table-cell">
                                                <image class="employer-image"></image>
                                            </a>
                                            <div class="company-info career-table-cell" style="width: 65%;">
                                                <small>
                                                    <a class="link-to-company" href="">ten cac nganh hang</a>
                                                </small>
                                                <h2 style="margin: 0; padding: 0;">
                                                    <a class="link-to-company" href="" style="font-size: 24px; color: black; ">Ten cong ty</a>
                                                </h2>
                                                <span>
                                                    <i class="fa fa-map-marker" style="color: #f07e1d"></i> Ha noi
                                                </span>
                                            </div>
                                            <div class="find-button career-table-cell">
                                                <button>xem cac viec lam</button>
                                            </div>
                                        </div>


                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section jsInsert{
    <script src="~/Assets/Client/Js/User/SearchCompanyForUser.js"></script>
}

